<div>
    <h2>Mi agenda de turnos</h2>

    <h3>Turnos del día</h3>
    <table class="table table-responsive table-stripped">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Especialidad
                </th>
                <th>
                    Paciente
                </th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="turno in turnos">
                <td>

                </td>
            </tr>

        </tbody>
    </table>
</div>
<div style="margin-top: 50px">
    <h3>Turnos futuros</h3>
    <table class="table table-responsive table-stripped">
        <thead>
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Especialidad
            </th>
            <th>
                Paciente
            </th>
            <th>
                Acciones
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="turno in turnos">
            <td>

            </td>
        </tr>

        </tbody>
    </table>

</div>