<div>
    <h2>Mis turnos</h2>

    <h3>Turnos próximos</h3>
    <table class="table table-responsive table-stripped">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Especialidad
                </th>
                <th>
                    Profesional
                </th>
                <th>
                    Hospital
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="turno in turnos">
                <td>

                </td>
            </tr>

        </tbody>
    </table>
</div>
<div style="margin-top: 50px">
    <h3>Turnos pasados</h3>
    <table class="table table-responsive table-stripped">
        <thead>
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Especialidad
            </th>
            <th>
                Profesional
            </th>
            <th>
                Hospital
            </th>
            <th>

            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="turno in turnos">
            <td>

            </td>
        </tr>

        </tbody>
    </table>

</div>